:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  background-color: #1a1b25;
  color: #1a1b23;
  margin: 0 auto;
  text-align: center;
}

body {
  margin: 0;
}

button {
  border: 2px solid #99caf2;
  padding: 4px 6px;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #16161d;
  color: #99caf2;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  border-color: #99caf2;
  background-color: #99caf2;
  color: #16161d;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
